.user-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-menu__logout {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.user-menu__error {
    margin: 0;
    color: rgb(181, 8, 8);
}
