.join-form {
    padding: 20px 10px;
    width: 300px;
    height: 150px;
    background-color: whitesmoke;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join-form__header {
    text-align: center;
}

.join-form__content-label {
    font-size: 18px;
    margin-right: 10px;
}

.join-form__content-input {
    font-size: 18px;
}

.join-form__footer button {
    height: 40px;
    font-size: 18px;
}